html{
    overflow-y: hidden;
    overflow-x: hidden;
}

.flex1{
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: space-between;
}


.fundo-tipo{
    background-color: #000000;
}

.ladding-pokemonInfo{
    width: 100%;
    height: 100vh;
    z-index: 100;
}

.tamanho{
    color: white;
    position: absolute;
    margin-top: 3rem;
    font-size: 8rem;
    text-shadow:
    10px 10px 0px #333,   /* Sombra inferior direita */
    -10px 10px 0px black,  /* Sombra inferior esquerda */
    10px -10px 0px black,  /* Sombra superior direita */
    -10px -10px 0px black, /* Sombra superior esquerda */
    10px 0px 0px black,   /* Sombra direita */
    -10px 0px 0px black,  /* Sombra esquerda */
    0px 10px 0px black,   /* Sombra inferior */
    0px -10px 0px black;  /* Sombra superior */
}



.container-ranking{
    background-color: #464646;
    height: 100vh;
    width:  30rem;
    border: solid 10px #333;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    height: 810px;
    margin-top: 6rem;
}

.pokemon-info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48%;

}

.pokemon-info .card-poke{
display: flex;
flex-direction: row;

}

.nome-poke, .poke-imgInfo{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20rem;
}

.container{
    margin-top: 15rem;
    padding: 3rem;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to top, #802424, #721919, #96242448, #a65c5c2c);
    border: solid 10px #333;
    width: 100%;
    border-radius: 30px;
}

.info-poke{
    display: flex;
    flex-direction: column;
}

.flex-column{
    display: flex;
    flex-direction: column-reverse;
}

.tipo-poke span{
    padding: 5px;
}

.info-poke{
display: flex;
justify-content: space-between;
}

.altura, .peso{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

}



.altura h2, .altura h3, .peso h2, .peso h3, .nome-poke{
    font-size: 50px;
}

.altura h2, .peso h2{
    color: #ffffffb9;
}


@media (max-width: 1000px) {

    html{
        overflow-y: auto;

    }

 .flex1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
 }

 .container{
    margin-top: 15rem;
    padding: 3rem;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to top, #802424, #721919, #96242448, #a65c5c2c);
    border: solid 10px #333;
    width: 100%;
    border-radius: 30px;
    justify-content: space-between;
}

.poke-imgInfo{
    display: flex;
    justify-content: space-between;
}

.interface{
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-ranking{
    background-color: #464646;
    border: solid 10px #333;
    border-radius: 30px;
    height: 810px;
    margin-top: 6rem;
    width: 90%;
}

.pokemon-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.ranking{
    width: 100%;
    display: flex;
    justify-content: center;
}


.nome-poke, .poke-imgInfo{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    height: auto;
}
}